{% extends 'base_event.html' %}
{% block content %}
    <h3> Wydarzenia, których jesteś twórcą:</h3>
    <ul>
    {% for event in event_creator %}
         <li><a href="/event_details/{{ event.id }}">{{ event.event_name }}</a>; Region: {{ event.region_name }}; Typ wydarzenia: {{ event.get_event_type_display }}&nbsp &nbsp<a href="/edit_event/{{ event.id }}">  modyfikuj</a>
    {% endfor %}
    </ul>
    </br>
    </br>
    <h3> Wydarzenia, w których bierzesz udział:</h3>
    <ul>
    {% for event in my_event %}
         <li><a href="/event_details/{{ event.id }}">{{ event.event_name }}</a>; Region: {{ event.region_name }}; Typ wydarzenia: {{ event.get_event_type_display }}&nbsp &nbsp<a class="btn btn-primary" href="/event_resignation/{{ event.id }}">Zrezygnuj z udziału</a>
    {% endfor %}
    </ul>
{% endblock %}
