.alert-success {
    color darkgreen;
    background-color: rgba(147, 248, 114, 0.76);
}

.alert-error {
    color: red;
    background-color: #f8d7da;
}

img.rounded-corners {
    border-radius: 50px;
    width: 130px;
}

img.rounded-corners2 {
    border-radius: 50px;
}